<div class="container">
<div class="row">
  <div class="col-sm-6">

<h1 class= "header">Edit Article</h1>

    <%= render 'form' %>
    
    <div class="btn btn-sucess>
    <%= link_to 'Back', articles_path %>
    </div>

    </div>
    </div>
    </div>