<div class="container">
<div class="row">
  <div class="col-sm-6">
<h1 class="header"> Listing articles</h1>

<table>
    <tr>
        <th>Title:</th>
        <th>Text:</th>
    </tr>

    <%= @articles.each do|article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= link_to 'show', articles_path(article) %></td>
        </tr>
        <% end %>
</table>
</div>
</div>
</div>