<div class="container">
<div class="row">
  <div class="col-sm-6">
<h3 class="header">Articles</h3>
<p>
    <strong>Title:</strong></hr>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong></hr>
    <%= @article.text %>
</p>
    </div>
</div>
</div>