<div class="container">
	<h1>Hello, Rails!!</h1>
	<%= link_to 'My Articles', controller: 'articles' %>
	<p>Would you like to create a new article? <%= link_to 'New artricle',new_article_path %></p>
</div>