@import "variables";

.btn-success {
    width: 40%;
    color: blueviolet;
    border-color: $primary_color;
    background: $primary_color;
    &:hover {
        color: $primary_color;
        background: white;
        border-color: $primary_color;
    }

    .btn-default navbar-btn {
        border-color: $primary-color;
    }

}
.form-control{
    &:hover{
        border-color:$primary_color;
    }
}
.header {
    text-align: center;
}
.row {
    margin-left: 20%;
}
#error_explanation{
    color: red;
}